@use '_variables.sass' as var
@import 'filter.sass'
@import 'select.sass'

.products
  display: flex
  padding: 4.5rem 1.5rem

  .products__wrapper
    flex-grow: 1

    .products__header
      display: flex
      justify-content: space-between
      font-size: 0.75rem
      margin-bottom: 12px
      @include var.media(desktop)
        margin-bottom: 44px

      .products__filter-toggle
        display: flex
        justify-content: center
        align-items: center
        @include var.media(desktop)
          display: none

      .products__total
        display: none
        @include var.media(desktop)
          display: flex
          justify-content: center
          align-items: center

        &::after
          content: 'ТОВАРОВ'
          margin-left: 0.25rem

    .products__container
      display: grid
      grid-template-columns: repeat(auto-fill, calc( 7.5rem + 8.25vw ))
      grid-gap: 15px
      justify-content: space-around

      .card
        display: flex
        flex-direction: column
        justify-content: space-between
        border-bottom: 1px solid rgba(0,0,0, 0.1)
        padding-bottom: 34px
        gap: 1rem

        .card__image
          display: block
          width: 100%
          aspect-ratio: 1 / 1

        .card__name
          font-size: calc( 0.75rem + 0.35vw )
          @include var.media(desktop)
            font-size: 1rem

        .card__body
          display: flex
          justify-content: space-between
          align-items: center
          width: 100%

          .card__price
            font-weight: 600

            &::after
              content: " ₽"

        .card__btn-add
          opacity: 1
          border: none
          border-radius: 8px
          font-size: 1.25rem
          width: calc( 2rem + 2.5vw )
          aspect-ratio: 2.5
          color: var.$color-text
          @include var.media(desktop)
            font-size: 1.5rem
            opacity: 0

      .card:hover
        & .card__btn-add
          opacity: 1
          background-color: var.$color-active
