@use '_variables.sass' as var

.select__input
  position: relative

  .select__text
    margin-right: 7px

  &::after
    content: "▼"
    display: inline-block
    font-size: 75%
    transform: translateY(-1.5px)

  .select__dropdown
    display: none

  .dropdown__option
    color: var.$color-text
    width: 280px
    padding: 1rem 1.5rem

.select__input.select__input_opened
  .select__dropdown
    display: flex
    flex-direction: column
    position: absolute
    top: 0
    right: 0
    z-index: 200

    .dropdown__option
      background-color: white
      text-align: start

      &:hover
        background-color: var.$color-active

  & + .select__overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 100
