div.basket-wrapper
  div.basket-container
    div.basket-header
      div.basket-title Корзина
      button.basket-close#basket-close(data-close="true") × 

    div.basket-quantity
      span.text 
      button.basket-clear(data-clear="true") ОЧИСТИТЬ СПИСОК

    div#basket

    div.basket-footer
      div.basket-total#total
      button.basket-checkout ОФОРМИТЬ ЗАКАЗ
