div.basket
  div.basket__container
    div.basket__header
      div.basket__title Корзина
      button.btn.basket__button-close#basket-close(data-close="true") × 

    div.basket__quantity
      span.text 
      button.basket__clear(data-clear="true") ОЧИСТИТЬ СПИСОК

    div.basket__body#basket

    div.basket__footer
      div.basket__total#total
      button.basket__checkout ОФОРМИТЬ ЗАКАЗ
