header.navbar
  button.navbar__hamburger
    span
    span 
    span 

  div.navbar__logo COLORS<span>•</span>

  nav.menu.navbar__menu
    a.menu__link(href="") ПРОДУКТЫ
    a.menu__link(href="") ЦВЕТА
    a.menu__link(href="") ВДОХНОВЕНИЕ
    a.menu__link(href="") СОВЕТЫ
    a.menu__link(href="") НАЙТИ МАГАЗИН

  div.navbar__info.info 
    div.info__phone +7 (495) 221-77-69
    div.info__callback Заказать звонок

  div.toolbar.navbar__toolbar
    div.toolbar__icon.toolbar__icon_search
    div.toolbar__icon.toolbar__icon_profile
    div.toolbar__icon.toolbar__icon_heart 
    div.toolbar__icon.toolbar__icon_basket#basket-open 0