header 
  button.navbar-toggle 
    span 
    span 
    span 

  <div class='navbar-logo'> COLORS<span>•</span></div>

  nav 
    a(href="") ПРОДУКТЫ
    a(href="") ЦВЕТА
    a(href="") ВДОХНОВЕНИЕ
    a(href="") СОВЕТЫ
    a(href="") НАЙТИ МАГАЗИН

  div.navbar-call 
    div.phone +7 (495) 221-77-69
    div.callback Заказать звонок

  div.navbar-toolbar
    div.icon.search
    div.icon.profile
    div.icon.heart 
    div.icon.basket#basket-open 0