section.products-container 

  div.filter-wrapper
    div.products-filter#filter

        label(for="new")
          input(type="checkbox" value="new" name="new" id="new")
          span.switcher
          span.text НОВИНКИ

        label(for="available") 
          input(type="checkbox" value="available" name="available" id="available")
          span.switcher
          span.text ЕСТЬ В НАЛИЧИИ

        label(for="contracted") 
          input(type="checkbox" value="contracted" name="contracted" id="contracted")
          span.switcher
          span.text КОНТРАКТНЫЕ

        label(for="exclusive") 
          input(type="checkbox" value="exclusive" name="exclusive" id="exclusive")
          span.switcher
          span.text ЭКСКЛЮЗИВНЫЕ

        label(for="sale") 
          input(type="checkbox" value="sale" name="sale" id="sale")
          span.switcher
          span.text РАСПРОДАЖА

  div.products-wrapper
    div.products-header

      div.filter-toggle#filter-toggle ФИЛЬТРЫ

      div.products-total 412 ТОВАРОВ

      div.products-sort

        div.select-input
          span.text СНАЧАЛА ДОРОГИЕ
          div.select-dropdown
            div.select-dropdown__option(data-value="expensive") СНАЧАЛА ДОРОГИЕ
            div.select-dropdown__option(data-value="cheap") СНАЧАЛА НЕДОРОГИЕ
            div.select-dropdown__option(data-value="popular") СНАЧАЛА ПОПУЛЯРНЫЕ
            div.select-dropdown__option(data-value="new") СНАЧАЛА НОВЫЕ
            
        div.select-shadow 

    ul.products-cards#products