main.products 

  div.filter.products__filter
    div.filter__wrapper
      div.filter__container#filter

          label.filter__label(for="new")
            input.filter__input(type="checkbox" value="new" name="new" id="new")
            span.filter__switcher
            span.filter__text НОВИНКИ

          label.filter__label(for="available") 
            input.filter__input(type="checkbox" value="available" name="available" id="available")
            span.filter__switcher
            span.filter__text ЕСТЬ В НАЛИЧИИ

          label.filter__label(for="contracted") 
            input.filter__input(type="checkbox" value="contracted" name="contracted" id="contracted")
            span.filter__switcher
            span.filter__text КОНТРАКТНЫЕ

          label.filter__label(for="exclusive") 
            input.filter__input(type="checkbox" value="exclusive" name="exclusive" id="exclusive")
            span.filter__switcher
            span.filter__text ЭКСКЛЮЗИВНЫЕ

          label.filter__label(for="sale") 
            input.filter__input(type="checkbox" value="sale" name="sale" id="sale")
            span.filter__switcher
            span.filter__text РАСПРОДАЖА

  div.products__wrapper#products
    div.products__header

      div.products__filter-toggle#filter-toggle ФИЛЬТРЫ

      div.products__total 412 ТОВАРОВ

      div.select.products__sort

        div.select__input
          span.select__text СНАЧАЛА ДОРОГИЕ
          div.dropdown.select__dropdown
            div.dropdown__option(data-value="expensive") СНАЧАЛА ДОРОГИЕ
            div.dropdown__option(data-value="cheap") СНАЧАЛА НЕДОРОГИЕ
            div.dropdown__option(data-value="popular") СНАЧАЛА ПОПУЛЯРНЫЕ
            div.dropdown__option(data-value="new") СНАЧАЛА НОВЫЕ
            
        div.select__overlay 

    ul.products__container